@font-face {
    font-family: Gunplay;
    src: url(../fonts/gunplay_rg.otf);
}

body {
    position: relative; 
    background-image: url(../img/camuflaje.jpg);
}

#logo{
    width: 75px;
    height: 75px;
    margin: 5px;
}

li>a:hover{
    font-weight: bold;
}

.divVideo{
    padding: 0%;
    padding-bottom: 0%;
}

#miVideo{
    width: 100%;
}

h1, p{
    font-family: Gunplay;
}

.quienesSomos{
    background-color: rgb(36, 33, 33, 0.7);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.quienesSomos>h1, p{
    color: rgb(255, 255, 255, 1);
}

.material{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20x;
    padding-left: 70px;
    padding-right: 50px;
}

.card{
    display: inline-block;
}

.material .card{
    margin: 1%;
}

.card-img-top{
    width: 230px;
    height: 230px;
}

.card-body>h4, .card-text{
    font-family: Gunplay;
    color: black;
}

#mas{
    display: none;
}

.material>h1{
    color: white;
}

#logoFooter{
    width: 200px;
    height: 200px;
}

