@font-face {
	font-family: Gunplay;
	src: url(../fonts/gunplay_rg.otf);
}

* {
	box-sizing: border-box;
}

body {
	background-image: url(../img/camuflaje.jpg);
	position: relative;
}

.container {
	padding: 16px;
}

input[type=email],
input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=email]:focus,
input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.registerbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}

.signin>p>a {
	color: dodgerblue;
}

.signin {
	background-color: #f1f1f1;
	text-align: center;
	border-radius: 20px;
}

.formularioRegistro {
	align-items: center;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 40px;
	border: 2px solid black;
	border-radius: 80px;
	background-color: rgba(36, 33, 33, 0.7);
}

.formulario {
	display: block;
	padding-left: 70px;
	padding-right: 70px;
}

h1,
p,
label,
a,
.registerbtn {
	font-family: Gunplay;
	color: rgb(255, 255, 255);
}

.signin>p {
	color: black;
}

#logo {
	width: 75px;
	height: 75px;
	margin: 5px;
}

li>a:hover {
	font-weight: bold;
}

#logoFooter {
	width: 200px;
	height: 200px;
}

.nav-link {
	font-family: Arial;
}

#passwordError {
	color: red;
	display: none;
}